[submodule "rest-rpc-core"]
	path = rest-rpc-core
	url = https://github.com/ThoughtWorksInc/rest-rpc-core.git
[submodule "rest-rpc-play"]
	path = rest-rpc-play
	url = https://github.com/ThoughtWorksInc/rest-rpc-play.git
[submodule "project/sbt-microbuilder"]
	path = project/sbt-microbuilder
	url = https://github.com/ThoughtWorksInc/sbt-microbuilder.git
[submodule "hamu"]
	path = hamu
	url = https://github.com/thoughtworkschina/hamu.git
[submodule "auto-parser"]
	path = auto-parser
	url = https://github.com/Atry/auto-parser.git
[submodule "json-stream"]
	path = json-stream
	url = https://github.com/ThoughtWorksInc/json-stream.git
[submodule "project/sbt-haxe"]
	path = project/sbt-haxe
	url = https://github.com/ThoughtWorksInc/sbt-haxe.git
[submodule "microbuilder-sample"]
	path = microbuilder-sample
	url = https://github.com/ThoughtWorksInc/microbuilder-sample.git
